nav {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	background: rgba(0, 0, 0, .85);
	z-index: 999;

	a {
		display: inline-block;
		text-decoration: none;
		padding: 20px 15px;
		color: #aaa;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.2em;

		&.active {
			color: #fff;
		}

		&:hover {
			color: #fff;
		}
	}
}
